body {
    height: 100%;
}

.line {
    background-color: gray;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1.5vw;
    height: 100%;

    z-index: -1;
}

.canvases {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

.UIs {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 1vw;
    border: 1px solid black;
    padding: 5px;
    
    background-color: white;
    z-index: 1;
}

.sliders {
    display: none;
    position: fixed;
    left: 5vw;
    transform: translateX(-50%) translateY(calc(-100% - 50%));
}