<!DOCTYPE html>
<html>

<head>
  <title>Reflect things! (i guess..)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<body>
  <canvas id="canvas" class="canvases"></canvas>
  <div class="line"></div>

  <ul class="UIs" id="UI">
    <li id="firstUI" style="position: relative;">
      <input type="range" min="1" max="100" value="50" class="sliders" id="slider">
      <a onclick="changepensize()">
        <img src="../static/textures/pen.png" style="max-width: 100%; height: auto;">
      </a>
    </li>

    <li id="secondUI" style="position: relative;">
      <input type="color" class="colors-pickers" id="color-picker">
      <a onclick="changepencolor()">
        <img src="../static/textures/set_colour.png" style="max-width: 100%; height: auto;">
      </a>
    </li>

    <li id="thirdUI" style="position: relative;">
      <input type="checkbox" class="checkboxs" id="checkbox">
      <a onclick="rubber()">
        <img src="../static/textures/eraser.png" style="max-width: 100%; height: auto;">
      </a>
    </li>
  </ul>

  <div class="github">
    <a href="https://github.com/Khenziii/reflection">
      <img src="../static/textures/github.png" style="max-width: 100%; height: auto;">
    </a>
  </div>

  <script src="../static/drawing.js"></script>
</body>

</html>
