<!DOCTYPE html>
<html>

<head>
  <title>Reflect things! (i guess..)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<body>
  <canvas id="canvas" class="canvases"></canvas>
  <div class="line"></div>

  <ul class="UIs" id="UI">
    <li>
      <a onclick="firstfunction()">
        <img src="../static/textures/pen.png">
      </a>
    </li>

    <li>
      <a onclick="secondfunction()">
        <img src="../static/textures/set_colour.png">
      </a>
    </li>

    <li>
      <a onclick="thirdfunction()">
        <img src="../static/textures/eraser.png">
      </a>
    </li>
  </ul>

  <script src="../static/drawing.js"></script>
</body>

</html>
